<form [formGroup]="form" (ngSubmit)="search()" class="form-container">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Cognome</mat-label>
        <input matInput formControlName="surname" />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Cerca</button>
    <button mat-button type="button" (click)="cancel()">Reset</button>
</form>